:root {
  // 辅助色
  --color-auxi-primary: #202225;
  --color-auxi-regular: #282c34;
  --color-auxi-secondary: #2c313a;
  --color-auxi-placeholder: #333842;
  // 文字色
  --color-text-primary: var(--el-text-color-primary);
  --color-text-regular: var(--el-text-color-regular);
  --color-text-secondary: var(--el-text-color-secondary);
  --color-text-placeholder: var(--el-text-color-placeholder);
  // 主题色
  --color-primary: var(--el-color-primary);
  // 圆角
  --border-radius: 5px;
  // 阴影
  --box-shadow: 0 0 16px #959598;
}
.material-icons.md-light { color: rgb(255 255 255 / 100%); }
// 用户状态色
.noDisturb {
  background-color: #ed4245;
}
.online {
  background-color: #3ba55d;
}
.leave {
  background-color: #faa81a;
}
.offline {
  background-color: #747f8d;
}
