:root {
  --bg-color-theme: #36393f;
  --color-theme: #5865f2;
  --border-radius-default: 5px;
  --box-shadow-default: 5px 5px 15px #959598;
  --color-title-default: white;
}
.material-icons.md-light { color: rgb(255 255 255 / 100%); }
