@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "white": #202225,
    "black": #ffffff,
    "primary": (
      "base": #5c6bc0
    ),
    "success": (
      "base": #1abf73
    ),
    "warning": (
      "base": #f5a623
    ),
    "danger": (
      "base": #f55a4e
    ),
    "error": (
      "base": #f55a4e
    ),
    "info": (
      "base": #8f8f8f
    )
  ),
  $text-color: (
    "primary": #7f7f7f,
    "regular": #afafaf,
    "secondary": #dfdfdf,
    "placeholder": #ffffff
  ),
  $fill-color: (
    "blank": #202225,
  ),
  $bg-color: (
    '': #202225,
    'page': #282c34,
    'overlay': #2c313a,
  ),
);

@use "element-plus/theme-chalk/src/index.scss" as *;
@media screen and (max-width: 800px) {
  .el-dialog {
    width: 90%;
  }
}
.el-icon {
  font-size: var(--font-size);
}
.el-message-box {
  width: 300px;
}
body {
  .el-overlay {
    background-color: rgb(0 0 0 / 80%);
    border-radius: 0 0 6px 6px;
  }
  &.is-desktop {
    .el-overlay, .el-overlay-dialog {
      top: 31px;
      right: 5px;
      bottom: 5px;
      left: 5px;
      height: calc(100% - 36px);
    }
    &.Darwin {
      .el-overlay, .el-overlay-dialog {
        top: 26px;
        right: 0;
        bottom: 0;
        left: 0;
        height: calc(100% - 26px);
        border-radius: 0;
      }
    }
  }
}
