@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": ("base": #5865f2)
  )
);

@use "element-plus/theme-chalk/src/index.scss" as *;
.el-icon {
  font-size: var(--font-size) !important;
}
.el-overlay {
  top: 5px !important;
  right: 5px !important;
  bottom: 5px !important;
  left: 5px !important;
  height: calc(100% - 10px) !important;
  border-radius: 6px;
}
